body{
    background-image:url(../img/new-bg.png);
    background-repeat: no-repeat;
    background-color: black;
    max-width: 900px;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div{
    display: flex;
    justify-content: center; 
}
.image{
    margin-top: 10px;
    margin-right: 10px;
    padding: 0px;
    border-radius:50%;
    width: 150px;
    border: white solid 3px;

}

.titulo{
    margin: 0px;
    margin-right: 10px;
    margin-top: 40px;
    margin-right: 10px;
    color: #ffffff;
    max-width: 400px;
    padding: 5px;
    text-shadow:black 3px 4px ;
    border-radius: 3px;
}

.subtitulo{
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px;
    background-color:rgb(255, 255, 255);
    background-blend-mode:darken;
    border-radius: 3px;
    border: #ffffff solid 2px;
    max-width: 500px;
}

.post{
    background-color: rgb(255, 255, 255);
    border: 1px solid #ffffff 2px;
    padding: 10PX;
    border-radius: 3px;
}
.post_content{
    text-align: justify;

}
footer{
    text-size-adjust: 15px;
    max-width: 200px;
    margin: 0;
}

h4{
    margin: 0;
    margin-top: 26.5px;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow:black 1px 1px ;
    padding:0px;
    width: 100px;
}

h3{
    margin: 0;
    color: #2e2e2e;
    padding:5px;
}


ul{
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    list-style: none;
}


a{
    font-weight: bold;
    color: rgb(202, 207, 124);
    text-decoration: double;
}


